$grey: #7690A8;
$black: #16133D;
$green: #3DB370;
$baseFontSize: 16px;
$baseFontfamily: 'Roboto', sans-serif;
$headerFontfamily:'Quicksand', sans-serif;
$mainTitleFontfamily: 'Nunito Sans', sans-serif;