@import 'veriables';

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: $green;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    min-height: 80px;
    border-bottom: 1px solid #EFEEF3;
    padding: 23px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    @media only screen and (max-width:1170px) {
        justify-content: center;
    } 
    .header__logo {
        width: 30px;
        height: 30px;
    }
    .header__title {
        margin-left: 13px;
        font-size: 35px;
        font-weight: 500;
        color: $black;
        font-family: $headerFontfamily;
        @media only screen and (max-width:420px) {
            font-size: 25px;
        }
    }
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    @media only screen and (max-width:1170px) {
        padding-top: 70px;
        padding-bottom: 70px;
    } 
    @media only screen and (max-width:420px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.main-title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width:1170px) {
        text-align: center;
    }
    span {
        margin-bottom: 15px;
        font-family: $baseFontfamily;
        font-weight: 400;
        color: $grey;
        display: block;
        @media only screen and (max-width:420px) {
            font-size: 14px;
        }
    }
    h2 {
        font-family: $mainTitleFontfamily;
        font-weight: 600;
        font-size: 40px;
        letter-spacing: 0,2px;
        color: $black;
        @media only screen and (max-width:420px) {
            font-size: 30px;
        }
    }
}

.list {
    display: flex;
    @media only screen and (max-width:1170px) {
        flex-direction: column;
        align-items: center;      
    } 
    .list-item {
        padding: 40px;
        border: 1px solid #E5EAF4;
        border-radius: 8px;
        width: 370px;
        height: 340px;
        @media only screen and (max-width:1170px) {
            height: unset;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;      
        } 
        @media only screen and (max-width:420px) {
            padding: 10px;
            width: 100%;
        } 

        .services-icons {
            width: 64px;
            height: 64px;
            padding: 14px 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            border: 1px solid rgba(21, 101, 216, 0.1);
            border-radius: 16px;
            @media only screen and (max-width:420px) {
                margin-bottom: 15px;
            }
            
            .icon-blue {
                width: 33px;
                height: 33px;
            }
        
            .icon-green {
                display: none;
                width: 33px;
                height: 33px;
            }
        }

        h3 {
            color: $black;
            font-family: $baseFontfamily;
            font-size: 24px;
            letter-spacing: 0.2px;
            margin-bottom: 15px;
            @media only screen and (max-width:1170px) {
                text-align: center;      
            }
            @media only screen and (max-width:420px) {
                font-size: 18px;
            }
        }
    
        p {
            margin-bottom: 30px;
            font-family: $baseFontfamily;
            font-size: 16px;
            line-height: 28px;
            color: $black;
            @media only screen and (max-width:1170px) {
                text-align: center;      
            }
            @media only screen and (max-width:420px) {
                font-size: 13px;
                line-height: 25px;
            }
        }
    
        a {
            font-family: $baseFontfamily;
            font-size: 16px;
            font-weight: 600;
            @media only screen and (max-width:420px) {
                font-size: 13px;
            }
        }

        &:hover {
            border-color: $green;
            cursor: pointer;

            .services-icons {
                border-color: rgba(61, 179, 112, 0.1);
            }

            .icon-blue {
                display: none;
            }

            .icon-green {
                display: block;
            }
        }
    }

    .list-item:not(:last-child) {
        margin-right: 30px; 
        @media only screen and (max-width:1170px) {
            margin-right: 0; 
        } 
    }

    .list-item:not(:last-child) {
        @media only screen and (max-width:1170px) {
            margin-bottom: 20px; 
        }
    }
}

.footer {
    min-height: 193px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $black;
    margin-top: auto;
    @media only screen and (max-width:1170px) {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
    }
    @media only screen and (max-width:420px) {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 123px;
    } 
}

.footer__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @media only screen and (max-width:1170px) {
        margin-bottom: 20px;
        justify-content: center;
    } 
    .footer__logo {
        width: 30px;
        height: 30px;
    }
    .footer__title {
        margin-left: 13px;
        font-size: 35px;
        font-weight: 500;
        color: #fff;
        font-family: $headerFontfamily;
        @media only screen and (max-width:420px) {
            font-size: 25px;
        }
    }
}

.social-logo {
    display: flex;
    @media only screen and (max-width:1170px) {
        justify-content: center;
    }
    .social-item {
        background-color: #EFEEF3;
        border-radius: 5px;
    
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 38px;
            height: 38px;
            @media only screen and (max-width:420px) {
                width: 25px;
                height: 25px;
            }
            .icon {
                width: 20px;
                height: 20px;
                fill: #000;
                @media only screen and (max-width:420px) {
                    width: 15px;
                    height: 15px;
                }
            }

            &:hover {
                .icon {
                    fill: $green;
                }
            }
        }
    }

    .social-item:not(:first-child){
        margin-left: 10px;
    }
    
}

